body {
  background-color: #a95f6a;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position-y: top;
  background: fill;
}

.navbar-nav {
  color: #f9f5e3;
}

.cc-mensagem-home {
  color: #563259;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
}
.cc-titulo-navbar {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-size: 20px;
}

.cc-titulo-pagina {
  color: #f9f5e3;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-size: 50px;
}

.cc-titulo-carta {
  color: #563259;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-size: 30px;
}
