{% extends "base.html" %} {% block content %}
<div class="container mt-5 text-center cc-mensagem-home">
  Bem vindo ao diretório de Cartas Clow
  <div class="container mt-5 text-justify cc-home-texto">
    As Cartas Clow são cartas criadas pelo poderoso mago Clow Reed, contidas
    dentro do Livro Clow. Elas foram liberadas quando Sakura entrou no sótão de
    sua casa e, sem saber, abriu o Livro Clow, liberando todas as cartas. Então
    a Carta Windy (vento, na versão brasileira) tratou de espalhar todas as
    outras. Ao todo são 52 cartas e Sakura, como uma Card Captor, tem que
    recuperar todas elas, caso contrário o mundo entrará em colapso em pouco
    tempo. Cada carta possui uma forma real que aparece quando elas são atacadas
    ou atacam. Ao captura-lá, ela volta à forma de carta e Sakura pode usa-lá na
    captura de outras cartas.
    <img class="cc-imagem-home mt-3 mb-4" src="/static/sakura.jpg" />
  </div>
</div>
{% endblock %}
